<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img [src]="imageSrc" alt="logo" />
        <h1>UPJV</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Ues" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Accueil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cours">Cours</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Profil" nzIcon="user" *ngIf="isLoggedIn()">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profil">Mon compte</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ues">Mes ues</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        nzOpen
        nzTitle="Administration"
        nzIcon="solution"
        *ngIf="isAdmin()"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin">Tableau de bord</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/gestion">Gestion des professeurs</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/uesRestantes">Ues restantes</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="overflow: scroll">
    <nz-header
      style="
        display: flex;
        background-color: white;
        justify-content: space-between;
      "
    >
      <div>
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
      <teachers-archi-web-header></teachers-archi-web-header>
    </nz-header>
    <nz-content style="min-height: unset">
      <div style="background-color: white; padding: 1rem; margin-bottom: 2rem">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
