<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img
          src="https://personnels.u-picardie.fr/medias/photo/3logos_1448370362284-png?ID_FICHE=116602"
          alt="logo"
        />
        <h1>UPJV</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profil">Profil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cours">Cours</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Profil" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profil">Mon compte</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profil/ues">Mes ues</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="overflow: scroll">
    <nz-header
      style="
        display: flex;
        background-color: white;
        justify-content: space-between;
      "
    >
      <div>
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
      <teachers-archi-web-header></teachers-archi-web-header>
    </nz-header>
    <nz-content style="min-height: unset">
      <div style="background-color: white; padding: 1rem; margin-bottom: 2rem">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
